<div class="col-md-4 col-md-offset-2">
  <div class="col-2of6 col-tablet-1of2 col-mobile-1of1">
    <a class="resource resource-card resource-card-6x6 resource-card-develop" href="<%= stripe_payments_path %>">
      <div class="card-bg" style="background-image: url(&quot;../assets/credit-card.jpg&quot;);"></div>
      <div class="card-info">
        <div class="section">Stripe Payments</div>
        <div class="title">Payments</div>
        <div class="description ellipsis" style="height: 60px;">
          <div class="text" style="height: auto;">Payment Count: <span><%= user_payment.count %></span></div>
        </div>
      </div>
    </a>
  </div>
</div>